name: Build

on:
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  build-v2:
    runs-on: macos-15-intel
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.3.0
        with:
          xcode-version: latest-stable
      - name: Set variables
        run: |
          HASH=$(cat SNAPSHOT_HASH)
          echo "SNAPSHOT_HASH=$HASH" >> $GITHUB_ENV
      - name: Install tools
        run: |
          brew install ninja libusbmuxd ideviceinstaller ios-deploy
          brew install pipx
          pipx install wheel
          pipx install .
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
          git clone https://github.com/flutter/engine.git
      - name: gclient sync
        run: |
          ROOT_DIR=`pwd`
          export PATH=$PATH:$ROOT_DIR/depot_tools
          cd engine
          git config --global user.email "reflutter@example.com" && git config --global user.name "reflutter"
          git fetch origin $(reflutter -b ${{env.SNAPSHOT_HASH}})
          git reset --hard FETCH_HEAD
          reflutter -b ${{env.SNAPSHOT_HASH}}
          echo 'reflutter' > REFLUTTER
          git add . && git commit -am "reflutter"
          cd $ROOT_DIR
          mkdir customEngine
          cd customEngine
          echo 'solutions = [{"managed": False,"name": "src/flutter","url": "'$ROOT_DIR/engine'","custom_deps": {},"deps_file": "DEPS","safesync_url": "",},]' > .gclient
          gclient sync
          reflutter -b ${{env.SNAPSHOT_HASH}}
#      - name: ninja build libflutter_arm64
#        run: export PATH=$PATH:`pwd`/depot_tools && customEngine/src/flutter/tools/gn --no-goma --android --android-cpu=arm64 --runtime-mode=release && ninja -C customEngine/src/out/android_release_arm64
#      - name: ninja build libflutter_arm
#        run: export PATH=$PATH:`pwd`/depot_tools && customEngine/src/flutter/tools/gn --no-goma --android --android-cpu=arm --runtime-mode=release && ninja -C customEngine/src/out/android_release
      - name: ninja build libflutter_x86_64
        run: export PATH=$PATH:`pwd`/depot_tools && customEngine/src/flutter/tools/gn --no-goma --android --android-cpu=x64 --runtime-mode=release && ninja -C customEngine/src/out/android_release_x86_64
      - name: Move to release
        run: |
           cp customEngine/src/out/android_release_x86_64/lib.stripped/libflutter.so libflutter_x86_64.so 2>/dev/null || :
#          cp customEngine/src/out/android_release_arm64/lib.stripped/libflutter.so libflutter_arm64.so 2>/dev/null || :
#          cp customEngine/src/out/android_release/lib.stripped/libflutter.so libflutter_arm.so 2>/dev/null || :
      - name: Android-Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: android-v2-${{env.SNAPSHOT_HASH}}
          files: |
            ./*.so
